# Environment
.env
.env.*
!.env.example

# Dependencies
node_modules/
vendor/

# Build
dist/
build/

# Laravel
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

# Docker
*.log

# macOS
.DS_Store